<h1>Order #<%= @order.id %> Created.</h1>
<h2>Bougth by: <%= @order.user.name %></h2>
<h2>Qty: <%= @order.quantity %></h2>
<h2>Product: <%= @order.product.name %></h2>
<h2>Product Price: <%= number_to_currency(@order.product.price) %></h2>



