
<h1>Product Info</h1>
<h2>Name: <%= @product.name %></h2>


  <% if @product.discounted? %>
    <h5>Discount Item!</h5>
  <% else %>
    <h5>Everyday Value!</h5>
<% end %>


<h4>Price: <%= number_to_currency(@product.price) %></h4>
<h4>Tax: <%= number_to_currency(@product.tax) %></h4>
<h4>Total: <%= number_to_currency(@product.total) %></h4>
<h3>Description:</h3>
    <ul>
     <% @product.description_list.each do |description| %>
     <li><%= description %></li> 
     <% end %>
    </ul>
<img src="<%= @product.image %>">

<%= form_tag '/orders', method: :post do %>
    <div>
      Quantity: <input type="text" name="quantity">
    </div>
    <div>
      <input type="hidden" name="product_id" value="<%= @product.id %>">
    </div>
    <div>
      <input type="submit" value="Add To Cart">
    </div>

<% end %>

<h5>Categories</h5>
<ul>
  <% @product.categories.each do |category| %>
  <li><%= category.name %></li>
<% end %>

</ul>

<%= link_to "Edit Product", "/products/#{@product.id}/edit", class: "btn btn-warning" %>
<%= link_to "Delete Product", "/products/#{@product.id}", method: :delete, class: "btn btn-danger" %>

<p>Supplier: <%= @product.supplier.name %></p>